/* Estilos personalizados para confirpago.html */

/* Cambiar el color amarillo de la barra de navegaci칩n */
.bg-warning {
    background-color: #F5BE6B !important;
}

/* Cambiar el color amarillo del bot칩n */
.btn-warning {
    background-color: #F5BE6B !important;
    border-color: #F5BE6B !important;
}

/* Hover para el bot칩n */
.btn-warning:hover {
    background-color: #e6a85e !important; /* Un tono m치s oscuro para hover */
    border-color: #e6a85e !important;
}